[Unit]
Description=Update dotfiles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env chezmoi update --force
SyslogIdentifier=chezmoi
