# Load Antidote plugin manager
ZDOTDIR=$HOME/.zsh
ABBR_USER_ABBREVIATIONS_FILE=$ZDOTDIR/abbreviations
ABBR_SET_EXPANSION_CURSOR=1
source $ZDOTDIR/antidote/antidote.zsh
antidote load $ZDOTDIR/zsh_plugins.txt

# HISTORY
setopt APPEND_HISTORY SHARE_HISTORY HIST_IGNORE_ALL_DUPS HIST_REDUCE_BLANKS
HISTSIZE=10000
SAVEHIST=50000
HISTFILE=$HOME/.local/share/zsh_history

# Completion System
setopt COMPLETE_IN_WORD ALWAYS_TO_END AUTOLIST
fpath=(~/.zsh/completions $fpath)
autoload -Uz compinit && compinit
zstyle ':completion:*' special-dirs true
zstyle ':completion:*' squeeze-slashes true
zstyle ':completion:*' accept-exact-dirs true
zstyle ':completion:*' menu select
zstyle ':completion:*' insert-unambiguous yes
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|[./]=* r:|=*' 'l:|=* r:|=*'
zstyle ':completion:*:default' list-prompt '%Sscroll: %p'

# General Settings
setopt NO_BEEP NO_BG_NICE CORRECT CORRECT_ALL GLOB_COMPLETE EXTENDED_GLOB INTERACTIVE_COMMENTS NO_BAD_PATTERN
export PATH="/usr/local/bin:/usr/bin:/usr/sbin:/usr/local/sbin:$PATH"
typeset -U path
path=($HOME/.local/bin $HOME/.bin $HOME/.krew/bin $HOME/bin $HOME/Applications /var/lib/flatpak/exports/bin $HOME/.cargo/bin $path)

## Mise activation
eval "$(mise activate zsh --shims)"

# Exports
export EDITOR="{{ .editor }}"
export VISUAL="{{ .visual }}"
export MANPAGER='{{ .manpager }}'

## zoxide
[[ $- == *i* ]] && eval "$(zoxide init --cmd cd zsh)"

## atuin
eval "$(atuin init zsh --disable-up-arrow)"

# Key bindings
bindkey '^I' expand-or-complete
bindkey "^H" backward-delete-char
bindkey "^[[3;5~" kill-word
autoload -Uz edit-command-line
zle -N edit-command-line
bindkey '^X^E' edit-command-line

# Direnv configuration
if type direnv &>/dev/null; then
  eval "$(direnv hook zsh)"
fi

# FZF configuration
export FZF_DEFAULT_COMMAND='rg --files --follow --no-messages'
export FZF_DEFAULT_OPTS="--height 40% --layout=reverse --color=fg:7,bg:-1,hl:4,fg+:7,bg+:-1,hl+:4"
export FZF_ALT_C_OPTS="--preview 'lsd -l --depth 1 {} | head -200'"

# SSH agent setup
if ! pgrep -u "$USER" ssh-agent >/dev/null; then
  eval "$(ssh-agent -s)" >/dev/null
fi

# Aliases
alias e="$EDITOR"
alias cp="cp -airv"
alias cat="bat"
alias dd="sudo dd status=progress bs=4M oflag=sync"
alias fdisk="sudo fdisk -l"
alias mkdir="mkdir -p"
alias nohist="zsh --no-history"
alias ls='ls --color=auto'
alias la="eza -a --group-directories-first"
alias ll="eza -la --group-directories-first --icons"
alias l="ll"
alias l.='eza -a | grep -E "^\\."'
alias lg="eza -l --group-directories-first --ignore-glob='.git' --icons"
alias lt="eza -T --group-directories-first --level=4"
alias mv="mv -iv"
alias rm="rm -rf"
alias ln="ln -vi"
alias rg="rg --color always"
alias getip="curl ifconfig.me"
alias ".."="cd .."
alias "..."="cd ../.."
alias ".3"="cd ../../.."
alias "...."=".3"
alias ".4"="cd ../../../.."
alias "....."=".4"
alias ".5"="cd ../../../../.."
alias "......"=".5"
alias back="cd $OLDPWD"

# kubernetes
if command -v kubectl >/dev/null 2>&1; then
  if [ -d "$HOME/.kube" ]; then
    export KUBECONFIG=$(find "$HOME/.kube" -maxdepth 1 -type f | while IFS= read -r file; do
        if grep -qm1 -e "apiVersion:" -e "kind:" -e "clusters:" -e "contexts:" -e "users:" "$file"; then
            echo -n "$file:"
        fi
    done | sed 's/:$//')
  fi
fi

# functions
for file in ~/.zsh/functions/*.zsh; do
  [ -r "$file" ] && source "$file"
done

# Starship prompt
if type starship &>/dev/null; then
  eval "$(starship init zsh)"
fi
