/* Firefox userChrome.css — managed by chezmoi
 * Based on: https://github.com/alvin-ecv/firefox-css-tweaks
 */

/* =============================================================================
 * OPTIONS / VARIABLES
 * ============================================================================= */
:root {
    /* Expand vertical tabs on hover */
    --tweaks-evtoh-collapsed-width: 50px;
    --tweaks-evtoh-expanded-width: 250px;
    --tweaks-evtoh-tab-padding: 10px;
    --tweaks-evtoh-tab-margin: calc((var(--tweaks-evtoh-collapsed-width) - var(--tweaks-evtoh-tab-padding) * 2 - var(--icon-size-default)) / 2);
    --tweaks-evtoh-animation-duration: 50ms;
    --chrome-content-separator-color: transparent !important;

    /* Better active tab indicator */
    --tweaks-bati-indicator-width: 4px;
    --tweaks-bati-indicator-color: #7388d9;
}

/* =============================================================================
 * EXPAND VERTICAL TABS ON HOVER
 * ============================================================================= */

/* Either state (collapsed or expanded) */
#sidebar-main {
    transition: width var(--tweaks-evtoh-animation-duration) ease, margin-inline-end var(--tweaks-evtoh-animation-duration) ease !important;

    & #tabbrowser-tabs,
    & .tabbrowser-tab {
        width: 100% !important;
    }

    & #vertical-pinned-tabs-container,
    & #tabbrowser-arrowscrollbox {

        & .tab-background,
        & .tab-content,
        & #tabs-newtab-button {
            padding: 0 var(--tweaks-evtoh-tab-padding) !important;
            width: calc(100% - 2 * var(--tweaks-evtoh-tab-margin)) !important;
            margin: 0 auto !important;
        }
    }

    & #tabbrowser-tabs>#vertical-pinned-tabs-container {
        padding-inline: 0 !important;
    }

    /* Always show pinned tabs vertically */
    & #vertical-pinned-tabs-container {
        --tab-inline-padding: calc((var(--tab-collapsed-width) - var(--icon-size-default)) / 2) !important;

        &:not(:empty) {
            display: flex !important;
            flex-direction: column !important;
        }

        /* Remove background for pinned tabs */
        & .tab-background {
            .tabbrowser-tab:not(:hover)>.tab-stack>&:not([selected], [multiselected]) {
                background-color: transparent !important;
            }
        }

        /* Show the separator between pinned and normal tabs, even when not expanded */
        &:not(:empty)+#vertical-pinned-tabs-container-separator {
            display: block !important;
        }
    }

    /* Keep attention dot under icon, even when expanded */
    & .tab-content[titlechanged]:not([selected]) {
        background-position-x: calc(var(--tweaks-evtoh-tab-padding) + var(--icon-size-default) / 2 - 2px) !important;
        background-position-y: bottom 2px !important;
    }

    /* Animate internal tab elements appearing and disappearing */
    & .tab-label-container,
    & .tab-close-button,
    & .toolbarbutton-text {
        transition: opacity var(--tweaks-evtoh-animation-duration) ease, width var(--tweaks-evtoh-animation-duration) ease !important;
    }

    /* Container coloured indicators */
    & .tab-background .tab-context-line {
        margin-inline-start: calc(-1 * (var(--tweaks-evtoh-tab-margin) + var(--tweaks-evtoh-tab-padding))) !important;
        margin-block: 4px !important;
    }
}

/* Collapsed state */
#sidebar-main:not(:hover) {
    width: var(--tweaks-evtoh-collapsed-width) !important;

    /* Hide internal elements in collapsed state */
    & .tab-label-container,
    & .tab-close-button,
    & .toolbarbutton-text {
        display: block !important;
        width: 0 !important;
        opacity: 0 !important;
        padding: 0 !important;
    }
}

/* Expanded state */
#sidebar-main:hover {
    /* Expanded state on hover or when forced with the expanded attribute */
    width: var(--tweaks-evtoh-expanded-width) !important;

    /* Don't shrink website when sidebar is expanded */
    margin-inline-end: calc(var(--tweaks-evtoh-collapsed-width) - var(--tweaks-evtoh-expanded-width)) !important;

    /* Show over tab contents */
    z-index: calc(var(--browser-area-z-index-tabbox) + 1) !important;
    background-color: var(--toolbox-bgcolor-inactive) !important;

    /* Show titles and buttons when expanded */
    & .tab-label-container,
    & .tab-close-button,
    & .toolbarbutton-text {
        display: inline !important;
    }

    & #vertical-pinned-tabs-container .tab-icon-image {
        margin-inline-end: var(--tab-icon-end-margin) !important;
    }

    .tab-label-container[textoverflow] {
        mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size)) !important;
    }
}

/* Hide the splitter between the sidebar and the content area */
#sidebar-launcher-splitter {
    display: none !important;
}

/* =============================================================================
 * BETTER ACTIVE TAB INDICATOR
 * ============================================================================= */

#sidebar-main .tab-background {
    position: relative !important;

    &[selected]::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(2 * var(--tweaks-bati-indicator-width));
        background: linear-gradient(90deg, var(--tweaks-bati-indicator-color) 50%, transparent 50%);
        margin-block: var(--tab-block-margin);
        border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    }
}
