---
- name: Install Tailscale (AUR)
  kewlfft.aur.aur:
    name: tailscale
    state: present
    use: makepkg
  become: no
  when: ansible_env.CI is not defined

- name: Enable and start tailscaled service
  become: true
  ansible.builtin.systemd:
    name: tailscaled
    enabled: yes
    state: started
