---
- name: Install Tailscale (AUR)
  kewlfft.aur.aur:
    name: tailscale
    state: present
  become: yes
  become_user: "{{ ansible_user_id }}"

- name: Enable and start tailscaled service
  become: true
  ansible.builtin.systemd:
    name: tailscaled
    enabled: yes
    state: started
