---
name: test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  ANSIBLE_FORCE_COLOR: true

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - uses: actions/checkout@v4
        name: Check out repository code

      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm ansible ansible-lint chezmoi git

      - name: Lint Ansible Playbook
        run: ansible-lint ansible/

      - name: chezmoi dry-run
        run: |
          chezmoi diff \
            --source="$PWD" \
            --working-tree="$PWD" \
            --config="$PWD/dot_config/chezmoi/chezmoi.yml" \
            --init=false \
            --dry-run \
            --verbose

  setup:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    needs: test

    steps:
      - uses: actions/checkout@v4
        name: Check out repository code again

      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm ansible chezmoi git

      - name: chezmoi apply
        run: |
          chezmoi apply \
            --source="$PWD" \
            --working-tree="$PWD" \
            --config="$PWD/dot_config/chezmoi/chezmoi.yml" \
            --init=false \
            --verbose
