---
name: test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - uses: actions/checkout@v4
        name: Check out repository code

      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm chezmoi git shellcheck

      - name: Lint shell scripts
        run: |
          find . -name "*.sh" -type f -exec shellcheck {} \;
          find . -name "*.sh.tmpl" -type f -exec shellcheck -f gcc {} \;

      - name: Validate chezmoi templates
        run: |
          chezmoi execute-template --init=false --source="$PWD" < /dev/null

      - name: chezmoi dry-run
        run: |
          chezmoi diff \
            --source="$PWD" \
            --working-tree="$PWD" \
            --config="$PWD/dot_config/chezmoi/chezmoi.yml" \
            --init=false \
            --dry-run \
            --verbose

  setup:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    needs: test

    steps:
      - uses: actions/checkout@v4
        name: Check out repository code

      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm chezmoi git docker

      - name: chezmoi apply
        run: |
          chezmoi apply \
            --source="$PWD" \
            --working-tree="$PWD" \
            --config="$PWD/dot_config/chezmoi/chezmoi.yml" \
            --init=false \
            --verbose
